kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 30080
        hostPort: 8080
        protocol: TCP
      - containerPort: 30913
        hostPort: 9113
        protocol: TCP
      - containerPort: 30900
        hostPort: 9090
        protocol: TCP
